:root {
    --color1: #DB4200;
    --color1-hover: #fd4e04;
    --color2: #FBD357;
    --color3: #3D80CC;
    --blanco: #fff;
    --negro: #000;
    --fuente: 'Montserrat', sans-serif;
}

/* Globales */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente);
}
h1,h2,h3,h4 {
    text-align: center;
    margin: 0;
    color: var(--color1);
    text-transform: uppercase;
    font-weight: 400;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
p {
    font-weight: 400;
    margin: 0;
    font-size: 12px;
}
span {
    font-size: 12px;
    font-weight:700;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}
button {
    border: 0;
    background-color: var(--color1);
    padding: 0;
}
iframe {
    width: 100%;
    height: 300px;
}
img {
    width: 60px;
}
@media (min-width: 768px) {
    h1 {
        font-size: 22px
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    iframe {
        width: 45%;
    }
    a {
        font-size: 14px;
    }
    img {
        width: 100px;
    }
}
/* Utilidades */
.contenedor {
    max-width: 1200px;
    margin: auto;
}
.d-flex {
    display: flex;
}
.btn {
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color .5s ease-in-out;
}
.btn:hover {
    background-color: var(--color1-hover);
}
/* Header */
#header {
    background-color: var(--color1);   
}
.contenedor-nav {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
}
.contenedor-nav-top {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.nav-top-login p{
    display: none;
}
.nav-main-bg {
    background-color: var(--color2);
}
.nav-main {
    margin-top: 15px;
    padding: 5px 10px;
    width: 90%;
    margin: auto;
}
.nav-main a{
    color: var(--color1);
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}

    /* Menu depegable  */
@media screen and (max-width: 768px) {
    .contenedor-nav-hijo {
        position: fixed;
        background-color: var(--color1);
        right: 0;
        top: 0;
        width: 100%;
        height: 47px;
        border-bottom: 2px solid var(--color2);
        z-index: 2;
    }

    .nav-menu-despegable {
        position: fixed;
        background-color: var(--color1);
        right: 0;
        top: 70px;
        width: 80%;
        height: 100vh;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        z-index: 1;
    }
    .hidden-menu {
        transform: translate(100%)
    }
    .activo {
        transform: translate(0);
    }
    .nav-menu {
        display: flex;
        align-items: center;
    }
    .nav-menu-despegable-contacto p{
        margin: 0;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nav-menu-despegable-contacto p:last-child {
        padding-left: 25px;
    }
    .nav-menu-despegable-content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .nav-menu-despegable-content a {
        font-size: 16px;
        text-transform: uppercase;
    }
    .header-higth {
        height: 80px;
    }
}

@media (min-width: 768px) {
    #header {
        padding: 0;
    }
    .icon-open {
        display: none;
    }
    
    .icon-shopping {
        display: none;
        gap: 20px;
    }
    .contenedor-nav-top {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 8px;
        margin: auto;
    }
    .nav-menu {
        flex: auto;
    }
    .nav-menu-despegable {
        flex: 0 0 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-menu-despegable-content {
        display: flex;
        flex-direction: column;
    }
    .nav-menu-despegable-content a {
        text-transform: uppercase;
    }
    .nav-menu-despegable-contacto {
        color: #fff;
    }
    .nav-menu-despegable-contacto p {
        text-align: left;
        text-transform: uppercase;
    }
    .nav-top-login {
        flex: 0 0 18%;
        display: flex;
        align-items: center;
    }
    .nav-top-login p {
        display: block; 
        color: var(--color2);
        font-weight: 700;
        text-align: start;
    }
    .nav-main {
        justify-content: space-around;
        align-items: center;
        padding: 8px;
    }
    .nav-main a {
        color: var(--color1);
    }
}
/* Footer */
#footer {
    background-color: var(--color1);
}
.footer-top {
    padding: 20px;
}
.footer-top h4 {
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color2);
    width: 90%;
    margin: 20px auto 0 auto;
}
.formas-pago-img {
    display: flex;
    align-items: center;
    gap: 10px;
}
.formas-pago-img img {
    width: 40px;
    height: 100%;
}
.formas-pago-libro-r img {
    width: 100px;
}
.formas-pago h4 {
    border-bottom: 0;
    width: 100%;
}
.atencion-cliente h4::after{
    content: '';
    position: absolute;
    top: 0;
    right: 60px;
    width: 15px;
    height: 15px;
    background: url(../img/caret-right-solid.svg) no-repeat;
    background-size: 100%;
    transform: rotate(0deg);
    transition: all .2s;
}
.atencion-cliente.active h4::after {
    transform: rotate(90deg);
}
.footer-links {
    display: none;  
}
.footer-links li {
    margin-top: 10px;
}
.footer-links a {
    font-size: 14px;
}
.atencion-cliente.active h4 ~ .footer-links {
    display: block;
    border-bottom: 1px solid var(--color2);
    padding-bottom: 20px;
}
.atencion-cliente .footer-links li{
    text-align: center;
}
.formas-pago {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}
.footer-bottom {
    border-top: 1px solid var(--color2);
    color: #fff;
    padding: 5px 10px;
    align-items: center;
    flex-direction: column;
}
.logo-conocenos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-conocenos > a:last-child {
    width: 100%;
}
@media (min-width: 768px) {
    #footer {
        padding: 10px 5px;
    }
    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer-top h4 {
        border: 0;
        padding: 0;
        margin: 0;
    }
    .footer-links {
        display: block;  
        margin: 0;
        text-align: end;
    }
    .atencion-cliente {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .atencion-cliente h4::after {
        background: none;
    }
    .atencion-cliente h4 {
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
    }
    .atencion-cliente .footer-links li {
        text-align: start;
    }
    .atencion-cliente a {
        font-size: 16px;
    }
    .formas-pago {
        flex: 0 0 30%;
        margin: 0;
        gap: 10px;
    }
    .formas-pago-content h4 {
        margin-bottom: 10px;
    }
    .logo-conocenos {
        flex: 1;
    }
    .logo-conocenos h4 {
        margin-top: 10px;
    }
    .logo-conocenos > a:last-child {
        width: auto;
    }
    .contenedor-footer {
        width: 90%;
        margin: auto;
    }
    .footer-bottom {
        flex-direction: row;
        justify-content: flex-start;
    }
}
/*---------------------------------------------
--------PAGINA PRINCIPAL ------------------------
-----------------------------------------------*/

/* Seccion presentacion */
#seccion-presentacion {
    background-image: url(../img/fondo-seccion.jpg);
    height: 500px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.seccion-presentacion-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 60%);
}
.seccion-presentacion-content h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}
.seccion-presentacion-content p {
    color: #fff;
    font-size: 16px;
}
/* Seccion ubicacion y horarios */
.seccion-ubicacion {
    background-color: var(--color2);
    padding: 15px 8px;
}
.seccion-ubicacion-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion-ubicacion-layout h3 {
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 700;
}
.su-ubicacion p {
    text-align: center;
}
.su-horarios ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.lista-horarios {
    display: flex;
    align-items: center;
    gap: 10px;
}
.lista-horarios span {
    flex: 0 0 43%;
    text-align: end;
}
.lista-horarios p {
    flex: 1;
    text-align: start;
}
.su-horarios li {
    width: 80%;
    text-align: center;
}
@media (min-width: 768px) {
    .seccion-ubicacion-layout {
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        margin-top: 20px;
    }
}

/* A que nos dedicamos */
.entrada-conocenos {
    flex-direction: column;
    background-color: var(--color2);
    margin: 50px 0;
    padding: 10px 5px;
}
.entrada-conocenos-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entrada-conocenos-texto h2 {
    margin-bottom: 20px;
}
.entrada-conocenos-texto p {
    text-align: center;
}
.entrada-conocenos-texto > button {
    margin-top: 15px;
    width: 180px;
}
@media (min-width: 768px) {
    .entrada-conocenos-layout {
        display: flex;
        gap: 50px;
    }
    .entrada-conocenos-texto {
        flex: 0 0 50%;
    }
    .entrada-conocenos-imagenes {
        flex: 1;
    }
}

/*---------------------------------------------
--------PRODUCTOS EN PROMOCIÓN ------------------
-----------------------------------------------*/

/*---------------------------------------------
--------PRODUCTO PROMOCIÓN ------------------------
-----------------------------------------------*/

/*---------------------------------------------
--------COMBOS PERSONALES ------------------------
-----------------------------------------------*/   

/*---------------------------------------------
--------PRODUCTO PERSONAL ------------------------
-----------------------------------------------*/

/*---------------------------------------------
--------COMBOS DUO+  ------------------------
-----------------------------------------------*/

/*---------------------------------------------
--------PRODUCTO COMBO DUO+ ------------------------
-----------------------------------------------*/

/*---------------------------------------------
--------PÁGINA CARRITO DE COMPRAS -------------
-----------------------------------------------*/

/*---------------------------------------------
--------PÁGINA DE CONTACTO ----------------------
-----------------------------------------------*/

/*---------------------------------------------
--------PÁGINA FORMA DE ENTREGA DELIVERY  --------
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA FORMA DE ENTREGA RECOJO EN TIENDA ---
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA DE COMPRA ------------------------- ---
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA LIBRO DE RECLAMACIONES -------------
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA ACERCA DE NOSOTROS ---------------
-----------------------------------------------*/

/*---------------------------------------------
----------PÁGINA PREGUNTAS FRECUENTES ----------
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA INICIO SESIÓN  ----------------
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA REGISTRARSE  -----------------------
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA RECUPERAR - INGRESAR CORREO ---------
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA RECUPERAR - CAMBIAR CONTRASEÑA -------
-----------------------------------------------*/

/*---------------------------------------------
----PÁGINA TÉRMINOS Y CONDICIONES ------------
-----------------------------------------------*/
