{% extends "admin/main.html" %} {% block titulo %} Agregar disco {% endblock %}
{% block contenido %}
<section class="section">
  <div class="columns">
    <div class="column is-one-third">
      <h3 class="is-size-3">Agregar producto</h3>
      <form
        action="{{url_for('admin.productos.guardar')}}"
        method="post"
        class="frm"
      >
        <select name="categorias" id="">
          {% for categoria in categorias %}
          <option value="{{'categoria[1]'}}">{{categoria[1]}}</option>
          {% endfor %}
        </select>
        <label for="nombre">Nombre:</label>
        <input
          required
          type="text"
          class="input"
          placeholder="Nombre"
          name="nombre"
          id="nombre"
        />
        <label for="artista">Descripción:</label>
        <input
          required
          type="text"
          class="input"
          placeholder="Descripcion"
          name="descripcion"
          id="descripcion"
        />
        <label for="precio">Precio:</label>
        <input
          required
          type="number"
          class="input"
          placeholder="Precio"
          name="precio"
          id="precio"
        />
        <label for="artista">Existencias:</label>
        <input
          required
          type="text"
          class="input"
          placeholder="Existencias"
          name="existencias"
          id="existencias"
        />
        <button type="submit" class="btn btn-success mt-2">Guardar</button>
        <a href="{{url_for('admin.home')}}" class="btn btn-primary mt-2"
          >Volver</a
        >
      </form>
    </div>
  </div>
</section>
{% endblock %}
