{% extends "admin/main.html" %} {% block titulo %} Agregar categoria {% endblock
%} {% block contenido %}
<section class="w-50 m-auto">
  <h3 class="m-3 fs-5 fw-bold">Crear usuarios administradores</h3>
  <form action="{{url_for('admin.usuarios.guardar')}}" method="post">
    <div class="mb-3">
      <label for="nombreUsuario">Nombre usuario:</label>
    <input required type="text" class="form-control" placeholder="usuario" name="nombreUsuario" id="nombreUsuario" />
    </div>
    <div class="mb-3">
      <label for="contraseña">Contraseña:</label>
    <input required type="text" class="form-control" placeholder="contraseña" name="contraseña" id="contraseña" />
    </div>
    <div class="d-flex gap-2 justify-content-end">
      <button type="submit" class="btn btn-success mt-2">Guardar</button>
    <a href="{{url_for('admin.usuarios.home')}}" class="btn btn-primary mt-2">Volver</a>
    </div>
  </form>
</section>
{% endblock %}