{% extends "client/main.html" %} {% block titulo %} Carrito de compras {%
endblock %} {% block contenido %}

<section class="mt-5 mb-3">
  <main class="mt-4 container">
    <div class="bg-titulo p-2 mb-2">
      <h1 class="mt-2 mb-2">Carrito de compras</h1>
    </div>

    <div class="productos-carrito mb-2 d-flex flex-column gap-3"></div>

    <div class="btn-vaciar-carrito text-end mt-4">
      <a href="" class="btn btn-primary border-0 w-auto">Vaciar carrito</a>
    </div>
    <div id="precio-total" class="mt-4"></div>

    <div class="botones-sec-carrito">
      <div>
        <a href="" class="btn btn-primary border-0 w-auto">Seguir comprando</a>
      </div>
      <div>
        <a
          href="pag-forma-entrega-deli.html"
          class="btn btn-primary border-0 w-auto"
          >Comprar</a
        >
      </div>
    </div>
  </main>
</section>

{% endblock %}
