{% extends "admin/main.html" %} {% block titulo %} Agregar categoria {% endblock
%} {% block contenido %}
<section class="d-inline-flex align-items-center m-auto justify-content-center">
  <div class="">
    <h3 class="m-3 fs-5 fw-bold">Agregar categoria</h3>
    <form action="{{url_for('admin.categoria.guardar')}}" method="post">
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label text-end" for="nombreCategoria">Nombre Categoria:</label>
        <div class="col-sm-8">
          <input class="form-control" required type="text" placeholder="Nombre Categoria" name="nombreCategoria"
            id="nombreCategoria" />
        </div>

      </div>
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label text-end" for="descripcion">Descripción:</label>
        <div class="col-sm-8">
          <input required type="text" class="form-control" placeholder="Descripción" name="descripcion"
            id="descripcion" />
        </div>

      </div>


      <button type="submit" class="btn btn-success mt-2">Guardar</button>
      <a href="{{url_for('admin.categoria.home')}}" class="btn btn-primary mt-2">Volver</a>
    </form>
  </div>
</section>
{% endblock %}