{% extends "admin/main.html" %} {% block titulo %} Editar categoria {% endblock
%} {% block contenido %}
<section class="section m-3">
  <div class="columns">
    <div class="column">
      <h3 class="is-size-3 m-3 fs-5 fw-bold">Editar Categoria</h3>
      <form action="{{url_for('admin.categoria.actualizar')}}" method="post">
        {# Enviar el id en un campo oculto #}
        <div class="mb-3 row">
          <input type="hidden" name="idCategoria" value="{{categoria[0]}}" />
          <label class="col-sm-4 col-form-label text-end" for="nombreCategoria">Nombre Categoría:</label>
          <div class="col-sm-8">
            <input value="{{categoria[1]}}" required type="text" class="form-control" placeholder="nombreCategoria"
            name="nombreCategoria" id="nombreCategoria" />
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-4 col-form-label text-end" for="descripcion">Descripción:</label>
          <div class="col-sm-8">
            <input value="{{categoria[2]}}" required type="text" class="form-control" placeholder="descripcion"
            name="descripcion" id="descripcion" />
          </div>
        </div>

        <button type="submit" class="btn btn-success mt-2">Guardar</button>
        <a href="{{url_for('admin.categoria.home')}}" class="btn btn-primary mt-2">Volver</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}